/* Estilo para o logo da Pokédex */
#pokedex-logo {
  display: block;
  margin: 20px auto;
  width: 350px;
  height: auto;
}

/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* Adiciona o blur apenas no background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(10px);
  z-index: -1; 
}

/* Container da lista de Pokémons */
.pokemon-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  align-items: flex-start;
}

/* Card individual do Pokémon */
.pokemon-card {
  width: 180px;
  height: 240px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

/* Hover - Aumentar o card e mostrar os stats */
.pokemon-card:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
  height: 260px;
}

/* Imagem do Pokémon */
.pokemon-card img {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.pokemon-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-transform: capitalize;
}

/* Container de tipos (caixas abaixo do nome e imagem) */
.types-container {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* Caixa de tipo de Pokémon */
.pokemon-type {
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}

/* Contêiner para as barras de stats */
.stats-container {
  margin-top: 10px;
  width: 100%;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 6px;
  border-radius: 12px;
  margin-left: -5px;
}

/* Mostrar stats ao passar o mouse */
.pokemon-card:hover .stats-container {
  opacity: 1;
}

/* Barra de stats (HP, Attack, Defense, Speed) */
.stat-bar {
  height: 8px;
  background-color: rgb(168, 168, 168);
  border-radius: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.stat{
  background-color: #4CAF50;
}

/* Progresso da barra */
.stat-bar span {
  display: block;
  height: 100%;
  background-color: #4CAF50;
  border-radius: 4px;
}

/* Organiza os itens dentro da stats-container em colunas */
.stat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
/* Texto ao lado da barra */
.stat-row p {
  margin: 0;
  font-size: 12px;
  color: #333;
  flex-shrink: 0;
}

/* Tipos de Pokémon com suas cores associadas */
.fire {
  background-color: #f7a7a6;
}

.water {
  background-color: #2a8bb8;
}

.electric {
  background-color: #ffeb3b;
  color: #000;
}

.grass {
  background-color: #66bb6a;
}

.ground {
  background-color: #a56e3b;
}

.rock {
  background-color: #6b6b6b;
}

.fairy {
  background-color: #f8bbd0;
}

.poison {
  background-color: #9c4f96;
}

.bug {
  background-color: #99cc33;
}

.normal {
  background-color: #ffffff;
  color: #333;
}

.psychic {
  background-color: #f06292;
}

.fighting {
  background-color: #d32f2f;
}

.ice {
  background-color: #80deea;
}

.dragon {
  background-color: #ff5722;
}

.ghost {
  background-color: #9e9e9e;
}

.steel {
  background-color: #607d8b;
}

.dark {
  background-color: #424242;
}

.flying {
  background-color: #03a9f4;
}

/* Estilizando a barra de pesquisa */
#search {
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #333;
}

/* Efeito de foco quando o usuário clica ou foca na barra */
#search:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}

/* Estilo do ícone de pesquisa (opcional) */
#search::placeholder {
  color: #888;
  font-style: italic;
}

/* Estilo do ID do pokémon*/
.pokemon-card h3:first-of-type {
  font-size: 16px;
  color: #555;
  font-weight: bold;
  margin-bottom: -20px;
  margin-top: 0px;
}

/* ID do Pokémon Dark em branco */
.dark .pokemon-id {
  color: white !important;
}

/* Nome do Pokémon Dark em branco */
.dark .pokemon-id,
.dark h3 {
  color: white !important;
}

/* Container dos filtros */
.type-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

/* Botões de filtro de tipo */
.type-filter {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.type-filter:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

/* Ajusta a cor do texto dentro da caixa de tipagem do tipo Normal */
.pokemon-type.normal {
  color: black !important;
}

/* Ajusta a cor do texto dentro do botão de filtro do tipo Normal */
.type-filter.normal {
  color: black !important;
}